.body-container {
    z-index: 1;
    margin: -25px -2px;
    background: rgba(240, 243, 250, 0.72);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.container-form {
    max-width: 1416px;
    margin: 190px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 485px;
    height: 601px;

    background: #dfe2eb;
    border: 1px solid #d3e2e5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .form-box-container {
    display: flex;
    justify-content: center;
} */

.first-name {
    display: flex;
    align-items: center;
}

.first-name input,
.user-number input,
.user-email input {
    width: 341px;
    height: 34px;
    border: 1px solid #afb0b0;
    margin-top: 12px;
    margin-bottom: 32px;
    padding-left: 12px;
    border-radius: 8px;
    background: #F0F3FA;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #5C5C5E;
}

.N-2 {
    color: #1C2436;
}
.section-city {
    display: flex;
}

.state {
    width: 55px;
    height: 34px;

    background: #F0F3FA;
    border: 1px solid #afb0b0;
    border-radius: 4px;
}

.city {
    width: 145px;
    height: 34px;

    background: #F0F3FA;
    border: 1px solid #afb0b0;
    border-radius: 4px;
}

.user-city {
    
    margin-left: 32px;
}

.user-uf, .user-city {
    display: flex;
    flex-direction: column;
    color: #1C2436;

}

.user-uf label, .user-city label {
    margin-bottom: 12px ;
}

.city, .state{
    font-size: 12px;
    line-height: 150%;

    color: #5C5C5E;
    outline: none;
}


.button-to-send-all-data {
    width: 356px;
    height: 34px;
    background: #6C91F6;
    box-shadow: 0px 14px 19px rgba(28, 36, 54, 0.15), 0px 3.12708px 4.2439px rgba(28, 36, 54, 0.0894161), 0px 0.931014px 1.26352px rgba(28, 36, 54, 0.0605839);
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}


/* .swiper-wrapper {
    z-index: -1;
} */


@media screen and (max-width: 375px){

    .form-box {
        width: 340px;
        
    }

        .first-name input,
        .user-number input,
        .user-email input {
            width: 304px;
            height: 34px; 
        }  

        .first-name,
        .user-number,
        .user-email  {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

        .button-to-send-all-data {
            width: 316px;
        }


}